<title>Юрты Сибири</title>

	<%= render 'layouts/header' %>
	<%= render 'layouts/main_banner' %>
	<%= render 'layouts/green_line' %>
	<%= render 'layouts/about_us' %>
	<%= render 'layouts/why_we_are' %>
	<%= render 'layouts/green_line' %>
	<%= render 'items/show' %>	
	<%= render 'layouts/get_price' %>
	<%= render 'layouts/how_to_buy' %>
	<%= render 'layouts/description' %>
	<%= render 'contact_forms/new' %>
	<%= render 'layouts/contacts' %>
	<%= render 'layouts/footer' %>
