<% if signed_in? %>
	<h1>Административный раздел  &nbsp<%= link_to "Выйти", signout_path, method: "delete" %>&nbsp&nbsp<%= link_to "Главная", root_path %></h1>
	<div class="container">
		<%= render 'contact_forms/show' %>
		<%= render 'popup_contact_form/show' %>
		<%= render 'items/new' %>
		<%= render 'items/edit' %>
		<%= render 'articles/show' %>
		<%= render 'descriptions/show' %>
	</div>
<%end%>