<% if signed_in? %>
	<h1>Административный раздел  &nbsp<%= link_to "Выйти", signout_path, class: "btn btn-large btn-primary", method: "delete" %>&nbsp&nbsp<%= link_to "Главная", root_path, class: "btn btn-large btn-primary" %></h1>
	<div class="container">
		<%= render 'contact_forms/show' %>
		<%= render 'popup_contact_form/show' %>
		<%= render 'items/new' %>
		<%= render 'items/index' %>
		<%= render 'articles/show' %>
		<%= render 'descriptions/show' %>
		<%= render 'pictures/index' %>
		<%= render 'pictures/new' %>
	</div>
<%end%>

