<h2>(<%= @popup_contact_forms.count %>) человек ожидают входящего звонка</h2>

<table class="table table-bordered">
	<tr>
		<td>Дата, время</td>
		<td>Имя</td>
		<td>Телефон</td>
	</tr>

	<% @popup_contact_forms.each do |popup_contact_form| %>
		<tк>
			<td><%= popup_contact_form.created_at %></td>
			<td><%= popup_contact_form.name %></td>
			<td><%= popup_contact_form.phone %></td>
			<td>
				<%= link_to "delete", popup_contact_form, method: :delete,
	                        data: { confirm: "Вы уверены?" }%>
			</td>
		</tr>   
	<% end %>
<hr>
</table>