<h1>Editing article</h1>
 
<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <%= button_tag(type: 'submit') do %>
    Сохранить
  <% end %>
 
<% end %>
 
<%= link_to 'Назад', articles_path %>