<h2>Список товаров</h1>

<% @items.each do |item| %>
	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 paddings-2">
		<div class="goods-container">
    		<%= image_tag item.image.url if item.image_stored? %>
			<%= image_tag "line_3.png", class: "img-responsive img-properties" %>
			<div class="goods-name">
				<%= item.item_name %>	
			</div>
			<table class="goods-description">
				<tr>
					<tr><td><%= item.variable1 %>:</td><td><%= item.value1 %></td></tr>
					<tr><td><%= item.variable2 %>:</td><td><%= item.value2 %></td></tr>
					<tr><td><%= item.variable3 %>:</td><td><%= item.value3 %></td></tr>
					<tr><td><%= item.variable4 %>:</td><td><%= item.value4 %></td></tr>
				</tr>
			</table>
			<div class="row goods-description">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 font-small-size">
					<p><%= item.comment %></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
	                  <%= link_to "Удалить", item, method: :delete,
	                                     data: { confirm: "Вы уверены?" }%>
	    </div>
		<div class="col-lg-1">
	    	<%= link_to 'Изменить', edit_item_path(item) %>
	    </div>
	</div>
<% end %>
