<h1>Items manage</h1>
<%= form_for @item do |f| %>
      <%= f.label "Название" %><%= f.text_field :item_name %>
   <div class="row">
      <%= f.label "Характеристика 1" %><%= f.text_field :variable1 %>
      <%= f.label "Значение 1" %><%= f.text_field :value1 %>
      <%= f.label "Характеристика 2" %><%= f.text_field :variable2 %>
      <%= f.label "Значение 2" %><%= f.text_field :value2 %>
   </div>
   <div class="row">
      <%= f.label "Характеристика 3" %><%= f.text_field :variable3 %>
      <%= f.label "Значение 3" %><%= f.text_field :value3 %>
      <%= f.label "Характеристика 4" %><%= f.text_field :variable4 %>
      <%= f.label "Значение 4" %><%= f.text_field :value4 %>
   </div>  
      <%= f.label "Комментарий" %><%= f.text_field :comment %>
      <%= f.label "Цена" %><%= f.text_field :price %>
      <%= f.label :image %> <%= f.file_field :image %>
      <%= f.submit %>
<% end %>