	<div class="all-banners-width">
		<figure class="green-background">
			<div class="container">
				<div class="row">
					<div class="center-block col-md-8 col-lg-12 title-1" style="float: none">	
						Остались вопросы? Напишите нам!
					</div>
				</div>	
			</div>
			<div class="center-block col-lg-8" style="float: none">
				<%= form_for @contact_form do |f| %>
					<div class = "form-group col-md-4 col-lg-4">
						<label for="InputName"></label>
						<%= f.text_field :name, class: "form-control", placeholder: "Ваше имя" %>
					</div>

					<div class = "form-group col-md-4 col-lg-4">
						<label for="InputEmail"></label>
						<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
					</div>

					<div class = "form-group col-md-4 col-lg-4 paddings-2">
						<label for="InputPhone"></label>
						<%= f.text_field :phone, class: "form-control", placeholder: "Телефон" %>	
					</div>

			  		<div class = "form-group col-md-12 col-lg-12">
						<%= f.text_field :text, class: "form-control", placeholder: "Введите Ваше сообщение" %>		
					</div>
			 
			  		<div class="row">
				  		<%= button_tag(type: 'submit', class: "btn btn-success center-block button-contact-form", id: "get-price") do %>
			 				Написать нам
						<% end %>
			  		</div>
				<% end %>
			</div>
		</figure>
	</div>
</div>