<div class="container padd-top padd-bottom" id="contact_form">
	<div class="col-xs-10 col-sm-10 col-md-7 col-lg-6  border center-block" style="float: none">
		<div class="green-splitter green-splitter-medium"></div>
			<div class="row">
				<div class="col-lg-6 title-2 center-block center-text" style="float: none">	
					<%= t('contacts.our_address') %>
				</div>					
				<div class="center-block col-md-8 col-lg-9 contacts center-text" style="float: none">	
					<%= t('contacts.city') %> </br><%= t('contacts.street') %></br><%= t('contacts.phone') %>: +7 (391)2888-313</br><%= t('contacts.email') %>: <a href="mailto:yurta24@yandex.ru">yurta24@yandex.ru</br>
					<%= link_to t('contacts.vkontakte_link'), "http://vk.com/club67292718" %></br>
					<%= link_to t('contacts.facebook_link'), "https://www.facebook.com/profile.php?id=100005485099140&fref=ts" %>				
				</div>
			</div>
		<div class="green-splitter green-splitter-medium"></div>
	</div>
</div>