	<div class="all-banners-width hidden-xs" id = "how_we_work">
		<figure class="green-background">
			<div class="container">
					<div class="row">
						<div class="center-block col-md-10 col-lg-10" style="float: none">
							<div class="container">
								<div class="row">
									<div class="col-md-8 col-lg-10 title-1">	
										5 простых шагов покупки
									</div>
								</div>	
							</div>
							<div class="col-5 why-yurta-block">
								<%= image_tag "round_picture_1.png", class: "img-responsive" %>
								<div class="why-yurta-block-description">
									Юрта собирается за 3 часа
								</div>
							</div>
							<div class="col-5 why-yurta-block">
								<%= image_tag "round_picture_1.png", class: "img-responsive" %>
								<div class="why-yurta-block-description">
									Юрты не пропускают влагу
								</div>
							</div>
							<div class="col-5 why-yurta-block">
								<%= image_tag "round_picture_1.png", class: "img-responsive" %>
								<div class="why-yurta-block-description">
									Гарантия 1 год
								</div>
							</div>
							<div class="col-5 why-yurta-block">
								<%= image_tag "round_picture_1.png", class: "img-responsive" %>
								<div class="why-yurta-block-description">
									Юрты изготовлены из натуральных материалов
								</div>
							</div>
							<div class="col-5 why-yurta-block">
								<%= image_tag "round_picture_1.png", class: "img-responsive" %>
								<div class="why-yurta-block-description">
									100% ручная работа
								</div>
							</div>
						</div>
					</div>
			</div>
		</figure>
	</div>