	<div class="all-banners-width hidden-xs" id = "how_we_work">
		<figure class="green-background">
			<div class="container">
					<div class="row">
						<div class="center-block col-md-10 col-lg-10" style="float: none">
							<div class="container">
								<div class="row">
									<div class="col-md-8 col-lg-10 title-1">	
										<%= t 'how_to_buy.title'%>
									</div>
								</div>	
							</div>
							<div class="col-5 why-yurta-block">
								<%= image_tag "round_picture_1.png", class: "img-responsive" %>
								<div class="why-yurta-block-description">
									<%= t 'how_to_buy.make_a_bid'%>
								</div>
							</div>
							<div class="col-5 why-yurta-block">
								<%= image_tag "round_picture_2.png", class: "img-responsive" %>
								<div class="why-yurta-block-description">
									<%= t 'how_to_buy.specification'%>
								</div>
							</div>
							<div class="col-5 why-yurta-block">
								<%= image_tag "round_picture_3.png", class: "img-responsive" %>
								<div class="why-yurta-block-description">
									<%= t 'how_to_buy.payment'%>
								</div>
							</div>
							<div class="col-5 why-yurta-block">
								<%= image_tag "round_picture_4.png", class: "img-responsive" %>
								<div class="why-yurta-block-description">
									<%= t 'how_to_buy.order_preparing'%>
								</div>
							</div>
							<div class="col-5 why-yurta-block">
								<%= image_tag "round_picture_5.png", class: "img-responsive" %>
								<div class="why-yurta-block-description">
									<%= t 'how_to_buy.delivery'%>
								</div>
							</div>
						</div>
					</div>
			</div>
		</figure>
	</div>