<div id = "why_we_are">
	<div class="all-banners-width hidden-xs">
		<figure class="green-background">
			<div class="container">
				<div class="row">
					<div class="center-block col-md-10 col-lg-10" style="float: none">
								<div class="container">
									<div class="row">
										<div class="col-md-8 col-lg-10 title-1">	
											<%= t 'why_our_yurtas.title' %>
										</div>
									</div>	
								</div>
								<div class="col-7 why-yurta-block">
									<%= image_tag "time.png", class: "img-responsive why-yurta-block-img" %>
									<div class="why-yurta-block-description">
										<%= t 'why_our_yurtas.fast_compile' %>
									</div>
								</div>
								<div class="col-7 why-yurta-block">
									<%= image_tag "vlaga.png", class: "img-responsive why-yurta-block-img" %>
									<div class="why-yurta-block-description">
										<%= t 'why_our_yurtas.moisture_safe' %>
									</div>
								</div>
								<div class="col-7 why-yurta-block">
									<%= image_tag "guarantee.png", class: "img-responsive why-yurta-block-img" %>
									<div class="why-yurta-block-description">
										<%= t 'why_our_yurtas.guarantee' %>
									</div>
								</div>
								<div class="col-7 why-yurta-block">
									<%= image_tag "natural.png", class: "img-responsive why-yurta-block-img" %>
									<div class="why-yurta-block-description">
										<%= t 'why_our_yurtas.natural_materials' %>
									</div>
								</div>
								<div class="col-7 why-yurta-block">
									<%= image_tag "hand-made.png", class: "img-responsive why-yurta-block-img" %>
									<div class="why-yurta-block-description">
										<%= t 'why_our_yurtas.hand_made' %>
									</div>
								</div>
								<div class="col-7 why-yurta-block">
									<%= image_tag "delivery.png", class: "img-responsive why-yurta-block-img" %>
									<div class="why-yurta-block-description">
										<%= t 'why_our_yurtas.delivery' %>
									</div>
								</div>
								<div class="col-7 why-yurta-block">
									<%= image_tag "permeamble.png", class: "img-responsive img-responsive why-yurta-block-img" %>
									<div class="why-yurta-block-description">
										<%= t 'why_our_yurtas.vapor_permeability' %>
									</div>
								</div>
					</div>
				</div>
			</div>
		</figure>
	</div>
	<div id = "prices">
	</div>
</div>	