<!DOCTYPE html>
<html>
	<head>
      <meta charset="utf-8" />
  		<title>Юрты Сибири</title>
        <meta name="keywords" content="Продажа юрт, купить юрту, юрта для отдыха, юрта на участке, монгольская юрта, базы отдыха, чайная юрта, Евроюрты, Олимпийские юрты, активный отдых, где купить юрту, горнолыжный курорт, горные лыжи, зимний отдых, зимние юрты, печи для юрт, производство юрт">
  		<%= stylesheet_link_tag "application", media: "all",
                                           		  "data-turbolinks-track" => true %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>
      <%= tinymce_assets %>
	</head>
	<body>
      <% flash.each do |key, value| %>
         <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>  
	</body>
</html>
